/* !important >id >class >etiqueta */
*{margin: 0px; text-decoration: none;}
body{
    font-family:'Roboto', sans-serif;
    font-size: 1rem;
    background-color: rgb(0, 0, 0);
    color :white;
}
h1 {
    color: goldenrod;
    font-size: 1.8rem;
    text-align: center;
    padding-top: 55px;
    font-weight: 500;
    line-height: 1.2;
    .titulo{
        position: relative;
        margin-bottom: 50px;
    }
}
.nav{
    background-color: rgba(0, 0, 0, 0.658);
    border-bottom: 10px solid goldenrod;
    width: 550px;
    height: 40px;
    border-right: 10px solid goldenrod;
    border-bottom-right-radius: 10px;
    position: fixed ;
    z-index: 1;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    .navegacion{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        list-style: none;
        .nav-item a{
            color: goldenrod ;
            padding: 2px;
            border-radius: 4px;
            padding-left: 2px;
            padding-bottom: 2px;
            text-decoration: none;
            &:hover{
                background-color: goldenrod;
                color: black;
                border-bottom: 2px solid rgb(69, 69, 69);
                border-left: 2px solid rgb(69, 69, 69);
                padding: 2px;
                padding-left: 0px;
                padding-bottom: 0px;
            }
        }
    }
}
.logo {
    height: 17%;
    width: 17%;
    margin-left: 41.5%;
    margin-bottom: 42px;
}
.dorado {
    color:goldenrod
}
.index{
    display: flex;
    width: 74%;
    margin-left: 13%;
}
.trofeo{
    width: 262px;
    height: 464px;
}
.fn-chico{
    font-size: 0.7rem;
}
.fondo1{
    width: 1280px;
    height: 720px;
}
.fondo-negro{
    position: fixed;
    z-index: -1;
    width: 78%;
    margin-left: 11%;
    top: 0px;
    background-color: rgb(0, 0, 0,0.607);
    height: 100%;
}
.fondo-negro-contacto{
    position: fixed;
    z-index: -1;
    width: 50%;
    margin-left: 25%;
    top: 0px;
    background-color: rgb(0, 0, 0,0.607);
    height: 100%;
}
.footer{
    position: relative;
    bottom: 0px;
    height: 174px;
    width: 100%;
    background-color: rgba(183, 110, 26);
    z-index: 1;
    margin-top: 140px;
    border-top: 4px solid rgb(183, 110, 26);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .ft-item{
        font-size: 2rem;
        .instagram{
            color: white;
            &:hover{
                color:#bc2a8d;
            }
        }
        .facebook{
            color: white;
            &:hover{
                color: rgb(24, 28, 242);
            }
        }
        .tw{
            color: white;
            &:hover{
                color: rgb(52, 177, 209);
            }
        }
        .youtube{
            color: white;
            &:hover{
                color: #ff0000;
            }
        }
    }
}
/*grupos*/
.grupos{
    height: 100%;
    width: 70%;
    margin-left: 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 80px;
    .grupo{
        border: solid 3px goldenrod;
        border-bottom-left-radius: 5px ;
        border-bottom-right-radius: 5px;
        height: 130px;
        width: 200px;
        margin: 4px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all 0.4s;
        .gp{
            background-color: goldenrod;
            width: 100%;
            grid-area: grupo;
            text-align: center;
            color: black;
            i{font-size: 1.6rem;}
        }
        .nombres{
            grid-area: nombres;
            text-align: left;
            padding: 3px;
        }
    }
}
/*texto de grupos*/
.aclaracion{
    margin-left: 13%;
    width: 74%;
}
.campo{
    margin-top: 10px;
    display: block;
    background-color: rgb(177, 156, 50);
    border: 2px solid white;
    padding: 3px;
    &:focus{
        background-color: rgb(89, 78, 25);
        color: white;
        border: 2px solid yellow;
    }
}
.enviar{
    margin-top: 10px;
    width: 174px;
    background-color: rgb(89, 78, 25);
    color: white;
    border: 2px solid yellow;
    &:hover{
        color: black;
        background-color: rgb(185, 157, 0);
        border: 2px solid white;
    }
}
.negro {color: black;}
.txt-centro{ text-align: center;}
.rondas{
    margin-left: 13%;
    width: 74%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    .rnd{
        width: 50%;
        .label {
            text-align: center;
        }
    }
}
@import "./partials/bucles";
.cruce{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 25px 1fr 25px 50px;
    grid-template-areas: 
    'eq-a eq-b' 
    'esc-a esc-b'    
    'ida vuelta'
    'penales penales';
    border-bottom: 3px solid rgba(218, 165, 32, 0.486);
    margin-bottom: 0px;
    margin-top: 10px;
    .eq-a{
        grid-area: eq-a;
        text-align: center;
    }
    .eq-b{
        grid-area: eq-b;
        text-align: center;
    }
    .esc-a{
        grid-area: esc-a;
        width: 60px;
        height: 60px;
        margin-left: 37%;
        margin-right: 37%;
    }
    .esc-b{
        grid-area: esc-b;
        width: 60px;
        height: 60px;
        margin-left: 37%;
        margin-right: 37%;
    }
    .ida{
        grid-area: ida;
        text-align: center;
    }
    .vuelta{
        grid-area: vuelta;
        text-align: center;
    }
    .penales{
        grid-area: penales;
        text-align: center;
    }
}
.crc-final{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 25px 25px 1px;
    grid-template-areas: 
    'eq-a trofeo eq-b' 
    'esc-a res esc-b'
    'res-media res-media res-media';
    margin-top: 10px;
    .eq-a{
        grid-area: eq-a;
        text-align: center;
    }
    .eq-b{
        grid-area: eq-b;
        text-align: center;
    }
    .esc-a{
        grid-area: esc-a;
        width: 60px;
        height: 60px;
        margin-left: 37%;
        margin-right: 37%;
        transform: translate(-10px);
    }
    .esc-b{
        grid-area: esc-b;
        width: 60px;
        height: 60px;
        margin-left: 37%;
        margin-right: 37%;
        transform: translate(-10px);
    }
    .res{
        grid-area: res;
        text-align: center;
        margin-top: 16px;
    }
    .bx-trophy{
        grid-area: trofeo;
        font-size: 2rem;
    }
    .res-media{
        grid-area: res-media;
        display: none;
        text-align: center;
    }
}
/*galeria*/
.galeria{
    width: 78%;
    margin-left: 11%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.foto {
    width: 200px;
    height: 100px;
    border: solid 1px gold;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 25px;
    margin-right: 25px;
    &:hover {
    transform: scale(1.8);
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 25px;
    margin-right: 25px;
    border: solid 3px goldenrod;
}
}
.formulario{
    width: 36%;
    margin-left: 31%;
    height:300px;
    padding-top: 60px;
    .form{
    padding-left: 33%;
    padding-bottom: 30px
}}
.campo{
    margin-top: 10px;
    display: block;
    background-color: rgb(177, 156, 50);
    border: 2px solid white;
    padding: 3px;
    &:focus{
        background-color: rgb(89, 78, 25);
        color: white;
        border: 2px solid yellow;
    }
}
.enviar{
    margin-top: 10px;
    width: 174px;
    background-color: rgb(89, 78, 25);
    color: white;
    border: 2px solid yellow;
    &:hover{
        color: black;
        background-color: rgb(185, 157, 0);
        border: 2px solid white;
    }
}
@import "./partials/queries";
.esconder{ display: none;}